<?xml version="1.0"?>
<configuration>
  <appSettings/>
  <connectionStrings>
    <add name="POSDatabase" connectionString="Database=BPM_CENTER_APP_DB;Server=172.30.241.72\QBPMPOS;Integrated Security=false;uid=bpmCenterWS;password=Password123;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
