<?xml version="1.0"?>
<configuration>
    <appSettings/>
  <connectionStrings>
    <add name="BPMDatabase" connectionString="Database=BPM_CENTER_APP_DB;Server=172.30.241.174\PSBPM;Integrated Security=false;uid=bpmCenterWS;password=Password123;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
</configuration>
