<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PEA.BPM.Integration.BPMIntegration.SG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <PEA.BPM.Integration.BPMIntegration.SG.Properties.Settings>
      <setting name="PEA_BPM_Integration_BPMIntegration_SG_AgencyDLWS_AgencyIntegrationWebService"
        serializeAs="String">
        <value>http://localhost/BPMIntegrationDownloadedService/AgencyIntegrationWebService.asmx</value>
      </setting>
      <setting name="PEA_BPM_Integration_BPMIntegration_SG_ARDLWS_ARWebService"
        serializeAs="String">
        <value>http://localhost/BPMIntegrationDownloadedService/ARWebService.asmx</value>
      </setting>
      <setting name="PEA_BPM_Integration_BPMIntegration_SG_BlanDLWS_BLANIntegrationWebService"
        serializeAs="String">
        <value>http://localhost/BPMIntegrationDownloadedService/BLANIntegrationWebService.asmx</value>
      </setting>
      <setting name="PEA_BPM_Integration_BPMIntegration_SG_CashDLWS_CashManagementWebService"
        serializeAs="String">
        <value>http://localhost/BPMIntegrationDownloadedService/CashManagementWebService.asmx</value>
      </setting>
      <setting name="PEA_BPM_Integration_BPMIntegration_SG_EPayDLWS_EPaymentWebService"
        serializeAs="String">
        <value>http://localhost/BPMIntegrationDownloadedService/EPaymentWebService.asmx</value>
      </setting>
      <setting name="PEA_BPM_Integration_BPMIntegration_SG_MasterDLWS_MasterIntegrationWebService"
        serializeAs="String">
        <value>http://localhost/BPMIntegrationDownloadedService/MasterIntegrationWebService.asmx</value>
      </setting>
      <setting name="PEA_BPM_Integration_BPMIntegration_SG_UtilDLWS_UtilitiesIntegrationWebService"
        serializeAs="String">
        <value>http://localhost/BPMIntegrationDownloadedService/UtilitiesIntegrationWebService.asmx</value>
      </setting>
      <setting name="PEA_BPM_Integration_BPMIntegration_SG_AgencyULWS_AgencyIntegrationWebService"
        serializeAs="String">
        <value>http://localhost/BPMIntegrationUploadedService/AgencyIntegrationWebService.asmx</value>
      </setting>
      <setting name="PEA_BPM_Integration_BPMIntegration_SG_ARULWS_ARWebService"
        serializeAs="String">
        <value>http://localhost/BPMIntegrationUploadedService/ARWebService.asmx</value>
      </setting>
      <setting name="PEA_BPM_Integration_BPMIntegration_SG_BlanULWS_BLANIntegrationWebService"
        serializeAs="String">
        <value>http://localhost/BPMIntegrationUploadedService/BLANIntegrationWebService.asmx</value>
      </setting>
      <setting name="PEA_BPM_Integration_BPMIntegration_SG_CashULWS_CashManagementWebService"
        serializeAs="String">
        <value>http://localhost/BPMIntegrationUploadedService/CashManagementWebService.asmx</value>
      </setting>
      <setting name="PEA_BPM_Integration_BPMIntegration_SG_EPayULWS_EPaymentWebService"
        serializeAs="String">
        <value>http://localhost/BPMIntegrationUploadedService/EPaymentWebService.asmx</value>
      </setting>
      <setting name="PEA_BPM_Integration_BPMIntegration_SG_MasterULWS_MasterIntegrationWebService"
        serializeAs="String">
        <value>http://localhost/BPMIntegrationUploadedService/MasterIntegrationWebService.asmx</value>
      </setting>
      <setting name="PEA_BPM_Integration_BPMIntegration_SG_UtilULWS_UtilitiesIntegrationWebService"
        serializeAs="String">
        <value>http://localhost/BPMIntegrationUploadedService/UtilitiesIntegrationWebService.asmx</value>
      </setting>
      <setting name="PEA_BPM_Integration_BPMIntegration_SG_ExportTabULWS_ExportTableIntegrationWebService"
        serializeAs="String">
        <value>http://localhost/BPMIntegrationService/ExportTableIntegrationWebService.asmx</value>
      </setting>
    </PEA.BPM.Integration.BPMIntegration.SG.Properties.Settings>
  </applicationSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_INotificationWCFService" closeTimeout="00:01:00"
          openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
          allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
          maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
          messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
          useDefaultWebProxy="true">
          <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
            maxBytesPerRead="4096" maxNameTableCharCount="16384" />
          <security mode="None">
            <transport clientCredentialType="None" proxyCredentialType="None"
              realm="">
            </transport>
            <message clientCredentialType="UserName" algorithmSuite="Default" />
          </security>
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost/BPMService/ARCH/NotificationWCFService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_INotificationWCFService"
        contract="NotificationWCFService.INotificationWCFService" name="BasicHttpBinding_INotificationWCFService" />
      <metadata>
        <wsdlImporters>
          <extension type="WCFExtras.Soap.SoapHeaderImporter, WCFExtras" />
          <extension type="WCFExtras.Wsdl.Documentation.XmlCommentsImporter, WCFExtras" />
        </wsdlImporters>
      </metadata>
    </client>
  </system.serviceModel>
</configuration>