<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="microsoft.web.services3" type="Microsoft.Web.Services3.Configuration.WebServicesConfiguration, Microsoft.Web.Services3, Version=3.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="PEA.BPM.Architecture.ArchitectureSG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
      <section name="PEA.BPM.ArchitectureSG.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_ICodeTableWCFService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_IErrorHandlingWCFService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_ISecurityWCFService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_ICommonWCFService" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding_ISecurityWCFService1" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost/BPMService/ARCH/SecurityWCFService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISecurityWCFService"
                contract="SecurityWCF.ISecurityWCFService" name="BasicHttpBinding_ISecurityWCFService" />
            <endpoint address="http://localhost/BPMService/ARCH/CodeTableWCFService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICodeTableWCFService"
                contract="CodeTableWCF.ICodeTableWCFService" name="BasicHttpBinding_ICodeTableWCFService" />
            <endpoint address="http://localhost/BPMService/ARCH/ErrorHandlingWCFService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IErrorHandlingWCFService"
                contract="ErrorHandlingWCF.IErrorHandlingWCFService" name="BasicHttpBinding_IErrorHandlingWCFService" />
            <endpoint address="http://localhost/BPMService/ARCH/SecurityWCFService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISecurityWCFService1"
                contract="SecurityWCF.ISecurityWCFService" name="BasicHttpBinding_ISecurityWCFService1" />
            <endpoint address="http://altpeajptn0009/BpmCenterAppServices/ARCH/CommonWCFService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICommonWCFService"
                contract="CommonWCF.ICommonWCFService" name="BasicHttpBinding_ICommonWCFService" />
            <metadata>
                <wsdlImporters>
                    <extension type="WCFExtras.Soap.SoapHeaderImporter, WCFExtras" />
                    <extension type="WCFExtras.Wsdl.Documentation.XmlCommentsImporter, WCFExtras" />
                </wsdlImporters>
            </metadata>
        </client>
    </system.serviceModel>
    <applicationSettings>
        <PEA.BPM.Architecture.ArchitectureSG.Properties.Settings>
            <setting name="Architecture_ArchitectureSG_PeaEmpDataWebService_PeaGetData"
                serializeAs="String">
                <value>http://172.16.166.131/PeaServicePools/PeaGetData.asmx</value>
            </setting>
        </PEA.BPM.Architecture.ArchitectureSG.Properties.Settings>
    </applicationSettings>
</configuration>