<?xml version="1.0" encoding="utf-8"?>
<dataConfiguration>
  <xmlSerializerSection type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.0.195.0, Culture=neutral, PublicKeyToken=b69d2d350639533d">
    <enterpriseLibrary.databaseSettings xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" defaultInstance="MyBatchDB_SQL" xmlns="http://www.microsoft.com/practices/enterpriselibrary/08-31-2004/data">
      <databaseTypes>
        <databaseType name="Sql Server" type="Microsoft.Practices.EnterpriseLibrary.Data.Sql.SqlDatabase, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.0.195.0, Culture=neutral, PublicKeyToken=b69d2d350639533d" />
      </databaseTypes>
      <instances>
        <instance name="MyBatchDB_SQL" type="Sql Server" connectionString="Sql Connection String" />
      </instances>
      <connectionStrings>
        <connectionString name="Sql Connection String">
          <parameters>
            <parameter name="database" value="ACABatch" isSensitive="false" />
            <parameter name="Password" value="password" isSensitive="true" />
            <parameter name="server" value="10.188.150.162" isSensitive="false" />
            <parameter name="Uid" value="sa" isSensitive="false" />
          </parameters>
        </connectionString>            
      </connectionStrings>
    </enterpriseLibrary.databaseSettings>
  </xmlSerializerSection>
</dataConfiguration>